.board {

    width: 150px;
    height: 100px;
    background: silver;
    color: white;
    margin: 25px;
    position: relative;
}


.button, .delete_button, .back_button{
    background-color: silver; /* Green */
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-width: 23px;
    border-radius: 6px;

}
.back_button {
    background-color: cornflowerblue;
}
.button-create, .button-card{
    background-color: darkseagreen; /* Green */
    border: solid;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 10px 28px;

}
.button_delete {
    background-color: darkred; /* Green */
    border: solid;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 10px 28px;
}

.button2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-create:hover, .button-card:hover{
    background-color: white;
    color: black;
    border-color: white;
}

.navbar-header {
   left: 50%;
   position: relative;
   transform: translateX(-50%);
}

#logo{
    width: 80%; /* you can use % */
    height: auto;
}

.card {
    background-color:black; /* Green */
    border: solid;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 28px;
}

.col-md-12 {
    margin: auto;
}

#test {
    background: #cc0000;
    width: 500px;
    height: 200px;
    position: fixed;
    bottom: 0px;
}

#boards {
    background-color: #942A57;
    width: 500px;
    height: 200px;
}


#new, #in-progress, #review, #done {
    background-color: aquamarine;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    position: relative;


}
 #tasks {
     background-color: bisque;
 }

 #rows {
     margin-left: 20%;
    margin-right: auto;
 }

